@use 'media';

.none {
	display: none !important;
}

.title {
	font-size: 32px;
	line-height: 40px;
	font-weight: 600;
	margin-bottom: 18px;

	@include media.mobile {
		font-size: 36px;
		line-height: 42px;
	}

	@include media.mobile-s {
		font-size: 32px;
		line-height: 38px;
	}
}

.btn {
	background-color: var(--color-accent);
	color: #0a1410;
	border: 1px solid var(--color-accent);
	display: inline-block;
	text-align: center;
	font-size: 14px;
	padding: 14px 24px;
	overflow: hidden;
	border-radius: var(--br-m);
	transition: all .3s;
	corner-shape: squircle;

	@include media.hover {
		background-color: #7cd6a8;
		transform: translateY(-2px);
	}
}

.btn-transparent {
	background-color: transparent;
	color: var(--color-light);
	border: 1px solid var(--br-color);
	display: inline-block;
	text-align: center;
	font-size: 14px;
	padding: 14px 24px;
	overflow: hidden;
	border-radius: var(--br-m);
	transition: all .3s;
	corner-shape: squircle;

	@include media.hover {
		border: 1px solid var(--color-accent);

		transform: translateY(-2px);
	}
}


.section {
	padding-top: 65px;
	padding-bottom: 65px;

	@include media.mobile-s {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.navbar-active {
	display: flex !important;
	transform: translateX(0) !important;
	transition: all .3s;
}