@use 'media';

.none {
	display: none !important;
}

.title {
	font-size: 28px;
	line-height: 44px;
	font-weight: 600;
	margin-bottom: 18px;
	max-width: 520px;

	@include media.mobile {
		font-size: 22px;
		line-height: 30px;
	}
}

.subtitle {
	max-width: 460px;
	color: var(--color-dim);
	margin-bottom: 20px;

	@include media.mobile-s {
		font-size: 14px;
		margin-bottom: 14px;
	}
}

.intro {
	text-transform: uppercase;
	color: var(--color-accent);
	font-size: 12px;
	margin-bottom: 18px;


	@include media.mobile-s {
		margin-bottom: 8px;
	}

	span {
		display: inline-block;
		width: 2px;
		height: 2px;
		background-color: var(--color-accent);
		border-radius: var(--br-biggest);
		margin-inline: 6px;
		margin-bottom: 3px;
	}

}

.btn {
	background-color: var(--color-accent);
	color: #0a1410;
	border: 1px solid var(--color-accent);
	display: inline-block;
	text-align: center;
	font-size: 14px;
	padding: 14px 24px;
	overflow: hidden;
	border-radius: var(--br-m);
	transition: all .3s;
	corner-shape: squircle;

	@include media.hover {
		background-color: #7cd6a8;
		transform: translateY(-2px);
	}
}

.btn-transparent {
	background-color: transparent;
	color: var(--color-light);
	border: 1px solid var(--br-color);
	display: inline-block;
	text-align: center;
	font-size: 14px;
	padding: 14px 24px;
	overflow: hidden;
	border-radius: var(--br-m);
	transition: all .3s;
	corner-shape: squircle;

	@include media.hover {
		border: 1px solid var(--color-accent);

		transform: translateY(-2px);
	}
}


.section {
	padding-top: 90px;
	padding-bottom: 90px;

	@include media.mobile {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	@include media.mobile-s {}
}

.navbar-active {
	display: flex !important;
	transform: translateX(0) !important;
	transition: all .3s;
}